.form-field {
  margin: 30px 0;
  width: 300px;
  align: right;
}

.form-field > * {
  width: 100%;
  border-radius: 100px;
  width: 300px;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
  width: 300px;
}
input:focus
{
  border: none;
  outline: none;
}
button:focus
{
  border: none;
  outline: none;
}
.form-field input,
.form-field select {
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
}
button {
  border: none;
  background: #000000;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background 0.8s ease;
}

button:hover {
  border: none;
  background: #ffffff;
  color: black;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #000000;
}
.m-homepage--hero .m-homepage--hero--video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.conn{
position: absolute;
top: 90px;
left: 700px;
font-size: 18px
}
.citation{
  color: white;
  position: absolute;
  top: 180px;
  left: 150px;
  font-size: 18px;
}
.nomdeconn
{
  color: white;
}
.addpost
{
  position: absolute;
  bottom: 40px;
  right: 55px;
  font-size: 18px;
  display:block;
width:50px;
height:50px;
line-height:50px;
border: 2px solid #fffefe;
border-radius: 50%;
color:#fffefe;
text-align:center;
text-decoration:none;
background: #010101;
box-shadow: 0 0 3px gray;
font-size:20px;
font-weight:bold;
transition: background 0.9s ease;
}
.addpost:hover
{
  background: white;
  border: 2px solid black;
  color: black;
  transition: background 0.9s ease;
}
.citationpost
{
 font-family: 'Pacifico', cursive;
}
.citationname
{
 font-family: 'Pacifico', cursive;
 position: absolute;
 left: 650px;
}
body{
  background-color: #333;
}
