.form-field {
  margin: 30px 0;
  width: 300px;
  align: right;
}

.form-field > * {
  width: 100%;
  border-radius: 100px;
  width: 300px;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
  width: 300px;
}
input:focus
{
  border: none;
  outline: none;
}
button:focus
{
  border: none;
  outline: none;
}
.form-field input,
.form-field select {
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
}
button {
  border: none;
  background: #000000;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background 0.8s ease;
}

button:hover {
  border: none;
  background: #ffffff;
  color: black;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #000000;
}
.m-homepage--hero .m-homepage--hero--video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.conn{
position: absolute;
top: 90px;
left: 700px;
font-size: 18px
}
.citation{
  color: white;
  position: absolute;
  top: 180px;
  left: 150px;
  font-size: 18px;
}
.nomdeconn
{
  color: white;
}
.addpost
{
  position: absolute;
  bottom: 40px;
  right: 55px;
  font-size: 18px;
  display:block;
width:50px;
height:50px;
line-height:50px;
border: 2px solid #fffefe;
border-radius: 50%;
color:#fffefe;
text-align:center;
text-decoration:none;
background: #010101;
box-shadow: 0 0 3px gray;
font-size:20px;
font-weight:bold;
transition: background 0.9s ease;
}
.addpost:hover
{
  background: white;
  border: 2px solid black;
  color: black;
  transition: background 0.9s ease;
}
.citationpost
{
 font-family: 'Pacifico', cursive;
}
.citationname
{
 font-family: 'Pacifico', cursive;
 position: inherit;
 left: 650px;
}
div.polaroid {
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
body{
  background-color: #333;
}
